[submodule "TemplateBuilder"]
	path = TemplateBuilder
	url = git@github.com:jbsauvan/TemplateBuilder
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/CombinedLimit"]
	path = CMSSW_7_6_5/src/HiggsAnalysis/CombinedLimit
	url = git@github.com:hroskes/HiggsAnalysis-CombinedLimit
	branch = merge-meng
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/HZZ4l_Combination"]
	path = CMSSW_7_6_5/src/HiggsAnalysis/HZZ4l_Combination
	url = git@github.com:hroskes/HiggsAnalysis-HZZ4l_Combination
	branch = master
[submodule "helperstuff/Datacards13TeV_ICHEP2016"]
	path = helperstuff/Datacards13TeV_ICHEP2016
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
