[submodule "TemplateBuilder"]
	path = CMSSW_9_4_3/src/TemplateBuilder/TemplateBuilder
	url = git@github.com:hroskes/TemplateBuilder
	branch = master
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/CombinedLimit"]
	path = CMSSW_9_4_3/src/HiggsAnalysis/CombinedLimit
	url = git@github.com:hroskes/HiggsAnalysis-CombinedLimit
	branch = FTpl
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/HZZ4l_Combination"]
	path = CMSSW_9_4_3/src/HiggsAnalysis/HZZ4l_Combination
	url = git@github.com:hroskes/HiggsAnalysis-HZZ4l_Combination
	branch = master
[submodule "helperstuff/Datacards13TeV_ICHEP2016"]
	path = helperstuff/Datacards13TeV_ICHEP2016
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = ICHEP2016
[submodule "helperstuff/Datacards13TeV_Moriond2016"]
	path = helperstuff/Datacards13TeV_Moriond2016
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = Moriond2016
[submodule "helperstuff/Datacards13TeV_Moriond2017"]
	path = helperstuff/Datacards13TeV_Moriond2017
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = Moriond2017
[submodule "CMSSW_7_6_5/src/ZZMatrixElement"]
	path = CMSSW_9_4_3/src/ZZMatrixElement
	url = git@github.com:hroskes/HiggsAnalysis-ZZMatrixElement
	branch = master
[submodule "step10_plottingutilities/NIS_summary"]
	path = step10_plottingutilities/NIS_summary
	url = ssh://git@gitlab.cern.ch:7999/hroskes/NIS_summary.git
	branch = master
[submodule "helperstuff/.constants"]
	path = helperstuff/constants
	url = git@github.com:hroskes/anomalouscouplingsconstants
[submodule "CMSSW_8_1_0/src/CombineHarvester"]
	path = CMSSW_9_4_3/src/CombineHarvester
	url = git@github.com:hroskes/CombineHarvester
	branch = master
