[submodule "TemplateBuilder"]
	path = TemplateBuilder
	url = git@github.com:hroskes/TemplateBuilder
	branch = master
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/CombinedLimit"]
	path = CMSSW_7_6_5/src/HiggsAnalysis/CombinedLimit
	url = git@github.com:hroskes/HiggsAnalysis-CombinedLimit
	branch = FTpl
[submodule "CMSSW_7_6_5/src/HiggsAnalysis/HZZ4l_Combination"]
	path = CMSSW_7_6_5/src/HiggsAnalysis/HZZ4l_Combination
	url = git@github.com:hroskes/HiggsAnalysis-HZZ4l_Combination
	branch = master
[submodule "helperstuff/Datacards13TeV_ICHEP2016"]
	path = helperstuff/Datacards13TeV_ICHEP2016
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = ICHEP2016
[submodule "helperstuff/Datacards13TeV_Moriond2016"]
	path = helperstuff/Datacards13TeV_Moriond2016
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = Moriond2016
[submodule "helperstuff/Datacards13TeV_Moriond2017"]
	path = helperstuff/Datacards13TeV_Moriond2017
	url = ssh://git@gitlab.cern.ch:7999/HZZ4l/Datacards13TeV.git
	branch = Moriond2017
